.mainContent {
    margin-left: 50px;
    margin-right: auto;
    display: justify;
    position: relative;

} 

#myProgress {
    width: 520px;
    height: 30px;
    position: relative;
    background-color: #ddd;
  }
  
  #myBar {
    background-color: #4CAF50;
    width: 10px;
    height: 30px;
    position: absolute;
  }

  .result-message {
       
        position: absolute;
        text-align: center;
        font-family: comic sans ms;
        margin: 300px 40px;
        width: 40px;
        height: auto;
    
       
  }
