.mainContent {
  position: relative;
  font-family: comic sans ms;

} 

#myProgress {
  width: 540px;
  height: 30px;
  margin-left: -12px;
  position: relative;
  background-color: #ddd;
}

#myBar {
  background-color: #4CAF50;
  width: 10px;
  height: 30px;
  position: absolute;
}

#myProgress2 {
  width: 330px;
  height: 30px;
  margin-top: 170px;
  margin-left: -12px;
  position: relative;
  background-color: #ddd;
}

#myBar2 {
  background-color: #4CAF50;

  width: 10px;
  height: 30px;
  position: absolute;
}

.result-message {
     
      position: absolute;
      text-align: center;
      font-family: comic sans ms;
      height: auto;
  
     
}

#layerOne {
 position: relative;
 margin-left: -12px;
  background:transparent;
  background: url('./images/grasstexture4.png') repeat

}

#status {
  margin-bottom: 66px;

  background-color: wheat;
}

#menu {
 
  width: 200px;
  height: 230px;
  /* border: 5px solid black; */
  
}
#menu2 {
 
  width: 200px;
  height: 230px;
  /* border: 5px solid black; */
}

#titleBar{
  width: auto;
  height: 50px;
  /* border: 5px solid black; */
}


#meme {

  width: 250px;
  height: 250px;
  
  
}
#z { 
  margin-left: -565px;
  margin-top: -200px;

}

#bagel {
  transform: rotate(0deg);
  transform-origin: center;
  position:relative;
  width: 100px;
  height: 100px;
  
}